extends layout

block content

    div.vertical-center
        div.container
            div.row
                div.col-md-8.offset-md-2.px-4.about
                    h2.mt-5.mb-3 About ISS Tracker
                    p ISS Tracker is a simple demonstrative app created in node.js for the Treehouse
                        | Full Stack Techdegree.

                    p It uses a variety of technologies covered in numerous web development courses
                        | in this techdegree, including Express for routing, Pug as a templating engine
                        | as well Mongodb and mongoose for database storage.

                    p The responsive front end has been built on a customised version of popular
                        | Bootstrap 4 framework. The application features a complete user
                        | registration / login system implemented with express-session and allows
                        | different levels of access to public and registered users.

                    p ISS tracker uses the open-notify.org API to track the position of the ISS,
                        | fetches ground level weather data from the Dark Sky API and displays that
                        | information using markers and information windows through the Google Map
                        | Javascript API.
