extends layout

block content

    div.vertical-center
        div.container
            div.row
                div.col-md-8.offset-md-2.px-4
                    h2.mt-5.mb-3 About ISS Tracker
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae vel possimus,
                        | minima delectus explicabo ea, voluptate, mollitia dolores facilis reiciendis
                        | molestias. Nostrum modi officiis velit iure recusandae error natus consequuntur?
                    p Ducimus consequatur reiciendis voluptatum fugit voluptatibus laudantium
                        | consectetur, eligendi, porro quia consequuntur eos dicta fuga magni voluptate
                        | dolore vero adipisci labore aut.