extends layout

block content
    div.container.vertical-center
        div.jumbotron-fluid.text-center.w-100.mb-3
            h1.mt-4 ISS Tracker
            p.lead.mb-5 A simplistic way to locate the International Space Station.
            a.btn.btn-primary.btn-sm.px-3.py-2.mr-1(href='#', role='button') Sign Up
            a.btn.btn-primary.btn-sm.px-3.py-2.ml-1(href='#' role='button') Log in