extends layout

block content

    div.vertical-center
        form.container(method='POST', action='/login')
            div.row
                div.col-md-6.offset-md-3
                    h2.text-white.display-4.mb-4 Log in

                    div.form-group
                        label.text-white-50(for='email') Email address
                        input.form-control(type='email', id='email', name='email' aria-describedby='emailHelp')

                    div.form-group
                        label.text-white-50(for='password') Password
                        input.form-control(type='password', id='password', name='password')

                    button.btn.btn-primary.px-3.mt-2(type='submit') Log in
