nav.navbar.navbar-expand-sm.fixed-top
    button.navbar-toggler.nav-li(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav.text-center.mx-auto
            li.nav-item.mr-sm-3
                a.nav-link.text-white(href='/') Home
            li.nav-item.mr-sm-3
                a.nav-link.text-white(href='/about') About
            li.nav-item.mr-sm-3
                a.nav-link.text-white(href='/tracker') Tracker

            //- Only when the user is logged in
            if currentUser
                li.nav-item.mr-sm-3
                    a.nav-link.text-white(href='/profile') Profile
                li.nav-item.mr-sm-3
                    a.nav-link.text-white(href='/logout') Log out
