extends layout

block content

    div.vertical-center
        div.container
            div.row
                div.col-md-8.offset-md-2.px-4
                    h2.mt-5.mb-3 Andy Stoica
                    table.table.text-white
                        tbody
                            tr
                                td Email
                                td andy.stoica@me.com
                            tr
                                td Member since
                                td 18 June 2016
                            tr
                                td Newsletter
                                td Yes
                            tr
                                td Tracked
                                td 38 times
                    a.btn.btn-primary.btn-sm.px-3.py-2(href='#', role='button') Delete account
