extends layout

block content

    div.vertical-center
        div.container
            div.row
                div.col-md-10.offset-md-1.text-center
                    h2.mt-3.mb-2 ISS Tracker
                    div#tracker.mb-2.rounded
                    a.btn.btn-primary.px-3.py-2.mt-2#locate(href='#', role='button') Locate ISS

block script
    script(src='/js/map.js' crossorigin='anonymous')
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBSaTDvA_9uOmoVFlHZBIf7vBFlqFUM0x0&callback=initMap')