extends layout

block content

    div.vertical-center
        div.container
            div.row
                div.col-md-8.offset-md-2.px-4
                    h2.mt-5.mb-3 ISS Tracker
                    p Tracker application goes here.