/* ************************* */
/* General styles adjustmets */
body {
    background-image: url("../img/planet-earth-iss-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #fff;
}

h2 {
    font-size: 3.5rem;
    font-weight: 100;
    color: #fff;
}

h3 {
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
}

p {
    color: #fff;
}


/* ********************** */
/* Menu elements tweaking */
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.05em;
}

li a.active {
    font-weight: bold;
}


/* ************* */
/* Helper styles */
.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#tracker {
    background: #000;
    width: 100%;
    height: 60%;
}

#locate {
    width: 100%;
}

#mapContent h3 {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

#mapContent p {
    color: #333;
    font-size: 0.7rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}


/* ************* */
/* Sticky footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}


/* ************* */
/* Media queries */
@media(min-width: 576px) {
    .navbar {
        background: none;
    }
    
    #mapContent h3 {
        font-size: 1.2rem;
    }
    
    #mapContent p {
        font-size: 0.8rem;
    }
}

@media(min-width: 992px) {
    h1 {
        font-size: 6rem;
    }
}